@let currentWeatherRes = currentWeather();
@let hourlyData = hourlyDataPoints();
@let airQualityData = airQuality();
@let relativeHumidityData = relativeHumidity();

@if (currentWeatherRes) {
  <!--TODO: consider, COULD move to its own component; add wind speed to summary-->
  <div class="grid grid-cols-2 gap-6">
    <app-card-ui-component class="mx-8">
      <div card-heading>
        <div class="flex justify-between">
          <p>Current Weather</p>
          <p>{{ date() | date:'mediumDate' }}, {{ timestamp() }}</p>
        </div>
      </div>
      <div card-body>
        <div class="flex items-center">
          <img
            ngSrc="{{mapToWeatherIcon(weatherCode(), isDay())}}"
            alt="sunny" width="200"
            height="200"/>
          <div class="flex flex-col mx-4">
            <h1
              style="font-size:4rem">{{ currentTemperature() }}{{ currentTemperatureUnit() }}</h1>
          </div>
          <div class="w-full">
            <h1>{{ getWeatherDescription(weatherCode()) }}</h1>
            <p>Feels like: {{ apparentTemperature() }}{{ currentTemperatureUnit() }}</p>
          </div>
        </div>
        <div>
          <p>{{ summary() }}</p>
        </div>
        <div class="flex justify-between">
          <div>
            <label>Wind</label>
            <div class="flex items-center gap-2">
              <p>{{ windSpeed() }} {{ windSpeedUnit() }}</p>
              <i class="pi pi-arrow-up" [ngStyle]="getWindRotation(windSpeedDirection())"
                 style="font-size: 1rem"></i>
            </div>
          </div>
          <div>
            <label>Humidity</label>
            <div class="flex items-center gap-2">
              <p>{{ relativeHumidity() }} {{ relativeHumidityUnit() }}</p>
            </div>
          </div>
          <div>
            <label>Visibility</label>
            <div class="flex items-center gap-2">
              <p>{{ convertToKm(visibility(), visibilityUnit()) }}</p>
            </div>
          </div>
          <div>
            <label>Pressure</label>
            <div class="flex items-center gap-2">
              <p>{{ pressure() }} {{ pressureUnit() }}</p>
            </div>
          </div>
          <div>
            <label>Dew Point</label>
            <div class="flex items-center gap-2">
              <p>{{ dewPoint() }} {{ dewPointUnit() }}</p>
            </div>
          </div>
        </div>
      </div>
    </app-card-ui-component>
    <div>
      <app-card-ui-component>
        <div card-heading>
          <h1>MONTHLY HOT/RAINY DAYS</h1>
          <h1>AVERAGE HIGH AND LOW TEMPS</h1>
        </div>
      </app-card-ui-component>
    </div>
  </div>
}

@if (hourlyData.length > 0) {
  <app-card-ui-component>
    <div card-heading>
      <div class="flex justify-between">
        <p>Hourly Weather</p>
      </div>
    </div>
    <div card-body>
      <p-carousel [value]="hourlyDataPoints()" [numVisible]="6" [numScroll]="1" [circular]="false">
        <ng-template let-hourlyDataPoint #item>
          <app-carousel-ui-component [timestamp]="getTimestamp(hourlyDataPoint.time)"
                                     [data]="hourlyDataPoint"/>
        </ng-template>
      </p-carousel>
    </div>
  </app-card-ui-component>
}

<div class="grid grid-cols-3 gap-6">
  <p>INSERT SUNRISE SUNSET THING</p>
  <!--  TODO: maybe nuke UV when sun its not day anymore-->
  @if (airQualityData) {
    <app-card-ui-component>
      <div card-heading class="flex justify-center">
        <h1>UV Index</h1>
      </div>
      <div card-body class="flex items-center">
        <img ngSrc="{{mapUVIndexToIcon(roundedUvIndex())}}" width="75" height="75">
        <p>{{ uvIndex() }}</p>
      </div>
    </app-card-ui-component>
  }
  @if (relativeHumidityData) {
    <app-card-ui-component>
      <div card-heading class="flex justify-center">
        <h1>Humidity</h1>
      </div>
      <div card-body class="flex items-center">
        <img ngSrc="{{mapToIcon('humidity')}}" width="75" height="75">
        <p>{{ relativeHumidity() }}</p>
        <p>{{ relativeHumidityUnit() }}</p>
      </div>
    </app-card-ui-component>
  }
  @if (currentWeatherRes) {
    <app-card-ui-component>
      <div card-heading class="flex justify-center">
        <h1>Visibility</h1>
      </div>
      <div card-body class="flex items-center gap-4">
        <i class="pi pi-eye" style="font-size: 3rem"></i>
        <p>{{ convertToKm(visibility(), visibilityUnit()) }}</p>
      </div>
    </app-card-ui-component>
  }
  @if (cloudCover()) {
    <app-card-ui-component>
      <div card-heading class="flex justify-center">
        <h1>Cloud Cover</h1>
      </div>
      <div card-body class="flex items-center">
        <img ngSrc="{{mapToIcon('cloudy')}}" width="75" height="75">
        <p>{{ cloudCover() }} {{ cloudCoverUnit() }}</p>
      </div>
    </app-card-ui-component>
  }
  @if (windSpeed()) {
    <app-card-ui-component>
      <div card-heading class="flex justify-center">
        <h1>Cloud Wind</h1>
      </div>
      <div card-body class="flex w-full">
        <div class="flex flex-col">
          <div>
            INSERT DIRECTIONAL ARROW IMG THING
          </div>
          <div class="flex w-full justify-between">
            <div class="flex flex-row items-center">
              <h1 style="font-size: 3rem">{{ windSpeed() }}</h1>
              <div>
                <p>{{ windSpeedUnit() }}</p>
                <p>Speed</p>
              </div>
            </div>
            <div class="flex flex-row items-center">
              <h1 style="font-size: 3rem">{{ windGusts() }}</h1>
              <div>
                <p>{{ windGustsUnit() }}</p>
                <p>Wind Gust</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card-ui-component>
  }
</div>
