@let currentWeatherRes = currentWeather();
@let hourlyData = hourlyDataPoints();

@if (currentWeatherRes) {
  <!--TODO: consider, COULD move to its own component; add wind speed to summary-->
  <app-card-ui-component class="mx-8">
    <div card-heading>
      <div class="flex justify-between">
        <p>Current Weather</p>
        <p>{{ date() | date:'mediumDate' }}, {{ timestamp() }}</p>
      </div>
    </div>
    <div card-body class="flex">
      <div class="flex items-center w-1/2">
        <img
          ngSrc="./assets/weather-icons/weather-icons-master/production/fill/all/{{mapToIcon('3')}}"
          alt="sunny" width="200"
          height="200"/>
        <div class="flex flex-col ml-8">
          <h1>{{ currentTemperature() }}{{ currentTemperatureUnit() }}</h1>
          <h1>Feels like: {{ apparentTemperature() }}{{ currentTemperatureUnit() }}</h1>
        </div>
      </div>
      <div class="w-1/2">
        <p>INSERT WEATHER CODE STRING</p>
        <div class="flex ">
          <div class="flex items-center">
            <img
              ngSrc="./assets/weather-icons/weather-icons-master/production/fill/all/pressure-high.svg"
              alt="sunny" width="100" height="100">
            <p>INSERT HIGH FOR DAY</p>
          </div>
          <div class="flex items-center">
            <h1 class="strong">/ INSERT SLASH</h1>
          </div>
          <div class="flex items-center">
            <img
              ngSrc="./assets/weather-icons/weather-icons-master/production/fill/all/pressure-low.svg"
              alt="sunny" width="100" height="100">
            <p>INSERT LOW FOR DAY</p>
          </div>
        </div>
        <p>Rain: {{ rainChance() }}{{ rainUnit() }}</p>
      </div>
    </div>
  </app-card-ui-component>
}

@if (hourlyData.length > 0) {
  <app-card-ui-component>
    <div card-heading>
      <div class="flex justify-between">
        <p>Hourly Weather</p>
      </div>
    </div>
    <div card-body>
      <p-carousel [value]="hourlyDataPoints()" [numVisible]="8" [numScroll]="1" [circular]="false">
        <ng-template let-hourlyDataPoint #item>
          <app-carousel-ui-component [timestamp]="getTimestamp(hourlyDataPoint.time)"
                                     [temperature]="hourlyDataPoint.temperature"
                                     [rainChance]="hourlyDataPoint.precipitation_probability"
                                     [rainUnits]="hourlyDataPoint.precipitation_probability_units"
                                     [weatherIcon]="'3'"/>
        </ng-template>
      </p-carousel>
    </div>
  </app-card-ui-component>
}
<div class="grid grid-cols-3 gap-6">
  <p>INSERT DAILY TABLE OF FORECASTS. MAKE USE OF DAILY ARG to api</p>
  <p>CAN USE this endpoint to gather general uv info for this section</p>
  <p>HUMIDITY</p>
  <p>DEW POINT</p>
  <p>VISIBILITY</p>
</div>
