@use 'styles/variables' as *;

@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'primeicons/primeicons.css';
/* You can add global styles to this file, and also import other style files */

$horizontal-padding: 15%;
$vertical-padding: 5%;

:root {
  scroll-behavior: smooth;
  --primary-color: #06070e;
  --text-color: #ffffff;
  font-family: 'Familjen Grotesk', sans-serif;
}

body {
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, $darkNavy 0%, $mediumNavy 50%, $lightNavy 100%) fixed;
}

header {
  padding: 2% 20%;
}

main {
  padding: 1% 20%;
}
